body {
  background-color: #1c1c1b;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 2px solid gray;
  width: 90vw;
  height: 90vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px #c2c2c2;
  padding-left: 4px;

}

.input input {
  background-color: transparent;
  color: white;
  width: 98%;
  height: 23vh;/*17*/
  border: none;
  font-size: 30px;
  letter-spacing: 0.1em;
}


.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6px;
  margin-top:-10px;
  height: 72vh;

}

.buttons button {
  width: 65px;
  height: 65px;
  border-radius: 35px;
  border: none;
  background-color: #333333;
  color: white;
  font-size: 19px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  margin:0px;
  padding:0px;
}

.buttons .green {
  color: #3ca300;
}

.buttons .orange {
  background-color: orange;
}

.buttons button:hover {
  background-color: #555555;
  box-shadow: -6px -6px 10px rgb(0, 0, 0, 0.5);
}

.buttons .orange:hover {
  background-color: #d98200;
}